<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Автоматизована система</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Центр Зайнятості населення</h1>
	<h2>Автоматизована система:  Головне меню</h2>
    <a href="/geninform">Заповнення реєстраційної форми</a>
    <a href="/fulltime">Заповнення форми на вакантну посаду з постійної роботи</a>
    <a href="/parttime">Заповнення форми на вакантну посаду з часткової (за сумісництвом) роботи</a>
    <a href="/onetime">Заповнення форми на вакантну посаду з разової (сезонної) роботи</a>
    <a href="/coursetime">Заповнення форми на курси підвищення кваліфікації</a>
</body>
</html>
